<style>
 
 a{
    color:white;
  }

.comments{
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  width: 20%;
}

</style>


<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price_in_dollars) %>:</strong></dt>
  <dd><%= number_to_currency(@product.price_in_dollars(@product.price_in_cents)) %></dd>
  <dt><strong>Comments:</strong></dt>


  <dd><%@product.reviews.each do |review|%>
      <div class = "comments">
      <strong><%= review.comment %></strong>
      <br/>
      <em><%= review.user.name %> </em>
      <%= review.created_at.to_formatted_s(:long) %>
      <%= link_to "Delete Review", product_review_path(@product, review), :method => :delete %>
    </div>
    <br/>
      <% end %>
  </dd>
  <dt><div class = "btn btn-primary"><%= link_to "New Comment", new_product_review_path(@product)  %></div></dt>

</dl>




<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
 

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
